* {
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh; 
}

html {
    height: 100%;
}

/* GLOBAL STYLES END ------ HEADER STYLES BEGIN */

.header-container {
    flex: 0 1 auto;
}

.homepage-nav {
    display: flex;
    flex-direction: row;
    min-height: 75px;
    border-bottom: solid black;
    font-weight:bolder; 
}

.left-sec-nav , .right-sec-nav {
    display: flex;
    gap: 20px;
    align-items: center;
}

.left-sec-nav {
    margin-right: auto;
    margin-left: 30px;
}

.right-sec-nav {
    margin-left: auto;
    margin-right: 30px;
    font-size: large;
}

/* HEADER STYLES END ------ MAIN SECTION STYLES BEGIN */

.main-content-container{
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    display: flex;
}

.main-text-section {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.main-subtext {
    font-size: 20px;
    font-weight: 100;
}

.option-button {
    width: 225px;
    height: 75px;
    flex-shrink: 0;
    border-radius: 50px;
    border: 1px solid #000;
    background-color: #D9D9D9;

    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 300;
}

/* MAIN SECTION STYLES END ------ FOOTER STYLES BEGIN */

.footer-container {
    flex: 0 1 auto;
    min-height: 75px;
    border-top: solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-content {
    display: flex;
    gap: 30px;
    font-size: 18px;
}