body {
    width: 100%;
    height: 100vh;
    margin: 0;
    color: #f5f6f7;
    font-family: Tahoma;
    font-size: 16px;
  }
  
  h1, p {
    color: #000;
    margin: 1em auto;
    text-align: center;
  }
  
  form {
    width: 300px;
    max-width: 500px;
    margin: 0 auto;
    padding-bottom: 2em;
    align-items: center;
  }
  
  fieldset {
    border: none;
    padding: 2rem 0;
  }
  
  fieldset:last-of-type {
    border-bottom: none;
  }
  
  label {
    color:#000 ;
    margin-bottom: 20px;
  }
  
  input {
    width: 100%;
    min-height: 2em;
  }
  
  input {
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: 1px solid #000;
    cursor: pointer;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
  }
  
  .inline {
    width: unset;
    margin: 0 0.5em 0 0;
    vertical-align: middle;
  }
  
  input[type="submit"] {
    display: block;
    width: 60%;
    margin: 1em auto;
    height: 2em;
    font-size: 1.1rem;
    color: white;
    background-color: #525252;
    border-color: white;
    min-width: 300px;
  }
  
  .inline{
    display: inline; 
  }
  
  
  